<p><h2>Total user scores</h2></p>

<div>
  <table border='1'>
    <th>User</th>
    <th>Score</th>
    <tbody>
      <% @total_scores.sort_by{|user_id,total_score| total_score}.reverse.each do |user_score| %>
        <tr>
          <td>
            <%= User.find(user_score[0]).email %>
          </td>
          <td>
            <%= user_score[1] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @user_scores %>

<%= render 'user/contests/contest_scores', contest: @contest, user_scores: @user_scores %>
