<section id="admins-edit">
  <h1 class="page-title"><%= t ".title", name: @admin.name %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_admins_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>
