<h2>Test cases</h2>
<div>
  <table border='1'>
    <th>Input</th>
    <th>Output</th>
    <tbody>
      <% test_cases.each do |test_case| %>
        <tr>
          <td>
            <%= File.read(test_case[:input]).first(Settings.test_case_displayed_chars) %>
          </td>
          <td>
            <%= File.read(test_case[:output]).first(Settings.test_case_displayed_chars) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
