<div class="row-fluid">
  <div class="span12">
    <center>
      <div id="footer_menu_btm"><span>© <a href="http://framgia.com/vn/">Framgia, Inc.</a> All Rights Reserved.</span></div>
    </center>
  </div>
</div>
